{ config, lib, pkgs, modulesPath, ... }:

{
  ### set hostname
  # networking.hostname = "hostname";

  # cryptsetup
  boot.initrd.luks.devices = {
    lvmroot = {
      # device="/dev/disk/by-uuid/<UUID>";
      allowDiscards = true;
      fallbackToPassword = true;
      preLVM = true;
    };
  };

  # bootloader setup
  boot.loader = {
    efi = {
      canTouchEfiVariables = true;
      # nixos doesn't use a separate /efi and doesn't need it because the images are tiny
      # efiSysMountPoint = "/boot";
    };
    systemd-boot = {
      enable = true;
      netbootxyz.enable = true;
      memtest86.enable = true;
    };
  };
}
